<div class="app-container">
    <div class="controls box">
        <form @submit.prevent="uploadImage">
            <input type="file" ref="imageInput" id="image_input" @change="handleFileChange" hidden>
            <label @click="triggerFileInput" for="image_input" class="image-input-button box button">Select file</label>
            <canvas class="dashed-box" @click="triggerFileInput" id="thumbnail" ref="thumbnail" height="30" width="30"></canvas>
            <input type="text" v-model="text" id="text_input" placeholder="Enter tags...">
            <button class="box" type="submit" :disabled="!selectedFile">Upload</button>
        </form>

        <div v-if="errorMessage" class="error-message">{{ errorMessage }}</div>
        <input class="search-input" type="text" v-model="searchQuery" id="search_input" @input="searchImages" placeholder="Search...">
    </div>

    <div class="image-gallery">
        <ImageItem v-for="image in images" :key="image.image_url" :image="image" />
    </div>
</div>
